<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Jeopardy</h1>
  <table>
    <tr>
      <th>Point Value</th>
      <th>Category</th>
      <th>Score</th>
    </tr>
    <tr>
      <td>{{questionInfo?.value}}</td>
      <td>{{questionInfo?.category.title}}</td>
      <td>{{answerAttributes.score | json}}</td>
    </tr>
  </table>

  <h2>Question</h2>
  <p>{{questionInfo?.question}}</p>
  <app-answer [questionInfo]="questionInfo" [score]="score" (refreshQuestion)="getDataFromService()" #answerAttributes></app-answer>